<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SecretFile</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Enter password</h1>
    <form method="post" enctype="multipart/form-data" id="form">
    <input type="password" name="pwd" id="pwd">
    </form>
    <script>
        var pwd = document.querySelector('#pwd');
        var frm = document.querySelector('#frm');
        pwd.onkeydown = function() {
            var e = window.event;
            if (e.keyCode == 13) {
                frm.submit();
            }
        };
    </script>
</body>
</html>